* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-dark-theme: #424242; */
    --main-theme: #d6d6d6;
}

body {
    background-color: var(--main-theme);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.slot {
    width: 50px;
    height: 50px;
    border: 50px solid rgba(0, 0, 0, 0);
    margin: 10px;
    border-radius: 50%;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.hole {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-theme);
    box-shadow: inset 3px 3px 5px #bebebe, inset -3px -3px 5px #ffffff;
    /* box-shadow: inset 5px 5px 9px #383838, inset -5px -5px 9px #4c4c4c; */
    transition: all 0.4s ease-in-out;
}

.column {
    transition: all 0.1s ease-in-out;
}

.hole::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(175, 175, 175);
    display: block;
    position: absolute;
    top: 50%;
    transform: scaleX(200);
    z-index: -20;
}
.hole::after {
    content: "";
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background: rgb(175, 175, 175);
    position: absolute;
    transform: scaleY(200);
    z-index: -20;
}

.column:hover .hole {
    background-color: white;
}

.winner-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    z-index: 200000;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.winner-container h3 {
    font-size: 15rem;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 50px;
}

.restart {
    border-radius: 0;
    border: solid 1px rgb(175, 175, 175);
    width: 270px;
    height: 50px;
    font-size: 2rem;
    font-family: monospace;
    text-transform: uppercase;
    display: block;
    color: black;
    cursor: pointer;
}
.mouse-coin {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.mouse-coin:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: var(--main-theme);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999999;
}

.player1 {
    border: 50px solid #f1f1f1;
}

.player2 {
    border: 50px solid #232323;
}

/*--  coin animation  --*/
.animation-coin {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: fallingCoin;
    animation-duration: 0.5s;
    transform: translateY(-900%);
}

@keyframes fallingCoin {
    0% {
        transform: translateY(-450%);
    }
    100% {
        transform: translateY(275%);
    }
}

.winning-four {
    border: 50px solid yellow;
}
